<!DOCTYPE html>
<html>

<head>
  <title>ตัวอย่างการใช้งาน Ajax และ GAjax ด้วยคชสาร</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://www.kotchasan.com/js/gajax.js"></script>
  <link rel=stylesheet href="https://www.kotchasan.com/skin/gcss.css">
</head>

<body>
  <h1>ตัวอย่างการใช้งาน Ajax และ GAjax ด้วยคชสาร</h1>
  <ul>
    <li><a href='index.php?module=web'>ตัวอย่างการโหลดหน้าเว็บด้วย Ajax</a></li>
    <li><a href='index.php?module=database'>ส่งข้อมูลไปบันทึกยังฐานข้อมูลด้วย Ajax</a></li>
    <li><a href='index.php?module=time'>ตัวอย่างการ Synchronize เวลาด้วย Ajax</a></li>
  </ul>
</body>

</html>