<!DOCTYPE html>
<html>

<head>
    <title>Example of Using Ajax and GAjax with Kotchasan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.kotchasan.com/js/gajax.js"></script>
    <link rel=stylesheet href="https://www.kotchasan.com/skin/gcss.css">
</head>

<body>
    <h1>Example of Using Ajax and GAjax with Kotchasan</h1>
    <ul>
        <li><a href='index.php?module=web'>Example of Loading a Web Page Using Ajax</a></li>
        <li><a href='index.php?module=database'>Example of Sending Data to a Database Using Ajax</a></li>
        <li><a href='index.php?module=time'>Example of Synchronizing Time Using Ajax</a></li>
    </ul>
</body>

</html>