<!DOCTYPE html>
<html>

<head>
  <title>ตัวอย่างการ Synchronize เวลาด้วย Ajax</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://www.kotchasan.com/js/gajax.js"></script>
  <script src="https://www.kotchasan.com/js/clock.js"></script>
  <link rel=stylesheet href="https://www.kotchasan.com/skin/gcss.css">
  <style>
    /* style ของรูปรอโหลด */
    
    #loading {
      background-position: center;
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      position: absolute;
      top: -100%;
    }
    
    #loading.wait {
      background-image: url('loading.gif');
    }
  </style>
</head>

<body>
  <!-- element สำหรับแสดงรูปรอโหลด -->
  <div id='loading'></div>
  <header>
    <h1 class="center margin-top-bottom">ตัวอย่างการ Synchronize เวลาด้วย Ajax</h1>
    <!-- ฟอร์มแสดงเวลาที่อ่านจาก Server -->
    <div class="center margin-top-bottom">
      <input type="text" id="demo_txt" value="00:00:00">
    </div>
  </header>
  <script>
    // ฟังก์ชั่น Ajax อ่านข้อมูลจาก Server เป็นระยะ
    new GAjax().initLoading('demo_txt').autoupdate('index.php/index/model/index/time', 60, null, function(xhr) {
      $E('demo_txt').value = xhr.responseText;
    });
    // เริ่มต้นจับเวลาด้วย Javascript
    new Clock('demo_txt');
  </script>
</body>

</html>