<!DOCTYPE html>
<html>

<head>
  <title>ตัวอย่างการโหลดหน้าเว็บด้วย Ajax</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://www.kotchasan.com/js/gajax.js"></script>
  <link rel=stylesheet href="https://www.kotchasan.com/skin/gcss.css">
  <style>
    /* style ของรูปรอโหลด */
    
    #loading {
      background-position: center;
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      position: absolute;
      top: -100%;
    }
    
    #loading.wait {
      background-image: url('loading.gif');
    }
  </style>
</head>

<body>
  <!-- element สำหรับแสดงรูปรอโหลด -->
  <div id='loading'></div>
  <header>
    <h1 class="center margin-top-bottom">ตัวอย่างการโหลดหน้าเว็บด้วย Ajax</h1>
    <!-- ฟอร์มสำหรับรับค่า เพื่อส่งไปโดย Ajax -->
    <div class="center margin-top-bottom">
      <label for="demo_txt">URL</label>
      <input type="text" id="demo_txt" value="https://www.kotchasan.com" placeholder="http://www.domain.tld">
      <button id="demo_send" class="button send">Load</button>
    </div>
  </header>
  <!-- แสดงผลลัพท์ -->
  <div id="demo_result"></div>
  <script>
    // button click
    $G('demo_send').addEvent('click', function(e) {
      // ข้อมูลสำหรับส่งไป
      var q = 'url=' + $E('demo_txt').value;
      // create GAjax
      var req = new GAjax();
      // กำหนดการแสดงรูปรอโหลดกลางจอ
      req.initLoading('loading', true);
      // เรียกข้อมูลด้วย Ajax โดยการส่งค่า url ที่ต้องการไปยัง Index\Web\Model->web()
      req.send('index.php/index/model/index/web', q, function(xhr) {
        // นำ HTML ที่รับมาจาก Ajax ใส่ลงใน div#demo_result เพื่อแสดงผลลัพท์
        $E('demo_result').innerHTML = xhr.responseText;
      });
    });
  </script>
</body>

</html>